:root{
    --dark-color:#19283f;
    --white-color:#fff;
    --green-color:#33d1cc;
    --red-color:#ff3150;
    --yellow-color:#ffc400;
}
body{
    font-family: 'Roboto', sans-serif;
}
/* start navbar */
.navbar{
    background:var(--dark-color);
}
.navbar .navbar-nav .nav-link{
    color:var(--white-color)
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover{
    color:var(--green-color);
}
.navbar .search{
    border-left:1px solid var(--green-color)
}
.navbar .search svg{
    color:var(--green-color);
}
.navbar .navbar-toggler{
    color:var(--white-color);
    font-size: 25px;
    border:1px solid var(--white-color)
}
.navbar .navbar-toggler:focus{
    box-shadow:none;
}
.navbar .navbar-toggler[aria-expanded=true]{
    border:1px solid var(--green-color);
    color:var(--green-color);
}
.main-btn{
    background:var(--red-color);
    color:var(--yellow-color);
    padding:0.5rem 1rem;
    border:none;
    outline:none;
    text-decoration: none;
}
.main-btn:hover{
    background:var(--red-color);
    color:var(--yellow-color);
}
/* end navbar */

.landing{
    background:var(--dark-color);
    min-height: calc(100vh - 72px);
}